@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family:'Dana-Regular' ;
        src: url(./Fonts/Dana-family/Dana-Regular.ttf);
    }
    @font-face {
        font-family:'Dana-Bold' ;
        src: url(./Fonts/Dana-family/Dana-Bold.ttf);
    }
    @font-face {
        font-family:'Dana-Medium' ;
        src: url(./Fonts/Dana-family/Dana-Medium.ttf);
    }
}
@layer utilities{
    .BoxShadow1{ box-shadow: 4px 4px 0px 0px #444; transition: 0.2s;}
    .BoxShadow2{ box-shadow: 3px 2px 1px 0px #222; transition: 0.1s;}
    .BoxShadow3{ box-shadow: 0px 45px 50px 20px #777 inset ,4px 4px 0px 0px #555; }

    .all{
        @apply font-['Dana-Medium'] cursor-default relative  
    }
    .container{
        @apply sm:w-[75%] w-[90%] h-full m-auto;
    }

    .text1{
        @apply  font-['Dana-Bold'] sm:text-[32px] lg:text-[34px] xl:text-4xl text-4xl pt-2 md:mt-4   ;
    }
    .textBasis1{
        @apply text-xs sm:text-sm
    }
    .text2{
        @apply md:text-base ;
    }
    .text3{
        @apply  font-['Dana-Bold'] text-[18px] sm:text-[20px] lg:text-[28px] xl:text-[32px]  ;
    }
    .text4{
        @apply text-center mt-2 ;
    }
    .text5{
        @apply text4 sm:text-xl  font-['Dana-Bold'] dark:text-zinc-300;
    }
    .text6{
        @apply text4 textBasis1 font-['Dana-Regular'] dark:text-zinc-300;
    }
    .text7{
        @apply  md:text-xl lg:text-2xl font-['Dana-Bold'] dark:text-zinc-200;
    }
    .text8{
        @apply textBasis1 md:text-base lg:text-lg dark:text-zinc-400;
    }
    .text9{
        @apply textBasis1 md:text-sm lg:text-lg;
    }
    .BoxHover{
        @apply BoxShadow1 hover:BoxShadow2 cursor-pointer
    }
    .BoxHover2{
        @apply BoxShadow1 hover:BoxShadow2 cursor-pointer
    }
    .Box1{
        @apply md:p-3 md:inline-block    p-2 BoxHover ;
    }
    .Box2{
        @apply lg:py-2 lg:px-8 p-1.5 mb-4 md:mb-1 text-center BoxHover;
    }
    .itemBox1{
        @apply BoxHover sm:pt-4 pt-2 md:w-32 md:h-32 sm:h-28 sm:w-28 h-24 w-24 border border-solid border-gray-700 bg-white dark:bg-neutral-500 ;
    }
    .itemsBox2{
        @apply  md:w-48 md:h-48 w-32 w-32  dark:BoxShadow3 ;
    }
    .itemsBox3{
        @apply dark:bg-neutral-500 border border-solid border-gray-700  BoxShadow1 bg-white
    }
    .footerBox{
        @apply bg-Mustard Box1 w-4/5 mt-4 m-auto text-center
    }
    .img1{
        @apply m-auto md:h-14 h-8 ;
    }
    .img2{
        @apply m-auto sm:h-[70px] h-10 ;
    }
    .imgFooter{
        @apply md:h-6 h-4
    }
    .slide{
        @apply sm:w-3/5 w-4/5 h-full  m-auto pt-12
    }
    .imgSlide{
        @apply m-auto h-28
    }
    .name{
        @apply text3 text-center pt-4 dark:text-zinc-200
    }
    .desc{
        @apply w-3/5 text3 text-center m-auto pt-4 text-gray-400 
    }
}